.g-first-title {
  font-family: "roboto-slab", sans-serif;
}

.g-first-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
}
.g-first-title .upper-text {
  font-size: 15px;
  opacity: 0.7;
  text-transform: capitalize;
}
.g-first-title .name-title {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5px 0px 10px 0px;
}
.g-first-title .underline-title {
  width: 30px;
  height: 2px;
  background-color: #2eb0ec;
}

.g-second-title {
  font-weight: 600;
}
.g-second-title .uptext {
  font-size: 18px;
  opacity: 0.4;
  font-size: 22px;
}
.g-second-title .name-heading {
  font-size: 32px;
  text-transform: capitalize;
  margin: 0px;
  padding: 5px 0px;
}
.g-second-title .subtext {
  font-weight: 500;
  font-size: 20px;
  opacity: 0.6;
}

.g-line-footer {
  width: 1170px;
  height: 2px;
  background-color: #dfdfdf;
}

.g-button-blue {
  background-color: #66d4f4;
  color: #fff;
  text-transform: uppercase;
}

@font-face {
  font-family: "Museo";
  font-style: normal;
  src: url(../font/Museo_Slab_500.otf);
}
@media (max-width: 752px) {
  body header {
    background-image: url("../img/bg-header-mobile.png");
    background-size: cover;
  }
}
@media (max-width: 1169px) {
  body header {
    background-image: url("../img/bg-header-mobile.png");
    background-size: cover;
  }
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body header {
  background-image: url("../img/bg-header.png");
  background-size: cover;
  background-repeat: no-repeat;
}
body header .container {
  max-width: 1134px;
  position: relative;
}
body header .container .nav-head .container-fluid .nav-list .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}
body header .container .nav-head .container-fluid .nav-list .navbar-nav .nav-item {
  margin: 0px 12px;
}
body header .container .nav-head .container-fluid .nav-list .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 17px;
  color: #fff;
}
body header .container .nav-head .container-fluid .nav-list .navbar-nav .login {
  display: inline-block;
  padding: 15px 38px;
  border-radius: 10px;
  background-color: #4f9edb;
  text-transform: uppercase;
  color: #fff;
}
body header .container .underline-header {
  height: 2px;
  background-color: #fff;
  opacity: 0.6;
}
body header .container .row .contain-header {
  position: relative;
  overflow: hidden;
  color: #fff;
}
body header .container .row .contain-header .info-link-header {
  margin: 22% 0% 7% 0%;
}
body header .container .row .contain-header .info-link-header h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Museo";
  text-transform: uppercase;
  word-spacing: 10px;
}
body header .container .row .contain-header .info-link-header p {
  font-weight: 400;
  font-size: 28px;
  margin: 10px 0px 70px 0px;
}
body header .container .row .contain-header .info-link-header .group-btn .btn-header {
  display: inline-block;
  width: 240px;
  height: 80px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding-top: 24px;
}
body header .container .row .contain-header .info-link-header .group-btn .google-btn {
  background-color: #fff;
  color: #494949;
  background-image: url("../img/ico/google-play.png");
  background-repeat: no-repeat;
  background-position: 25px;
  padding-left: 15px;
  margin-right: 25px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
body header .container .row .contain-header .info-link-header .group-btn .learn-btn {
  color: #fff;
  background-color: #4f9edb;
}
body header .container .row .contain-header .image-telephone-header img {
  position: absolute;
  top: 105px;
  right: 1px;
}
body .main .our-service {
  margin-top: 40px;
}
body .main .our-service .list-our-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px 0px 0px 0px;
  padding: 0px;
}
body .main .our-service .list-our-service .list__item {
  color: #494949;
}
body .main .our-service .list-our-service .list__item img {
  max-width: 84px;
  max-height: 84px;
}
body .main .our-service .list-our-service .list__item .name-service {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 35px;
}
body .main .our-service .list-our-service .list__item .descrp-service {
  font-size: 16px;
  opacity: 0.7;
}
body .main .Customization {
  margin-top: 25%;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
body .main .Customization .img-ipad-iphone .ipad {
  right: 76%;
  top: -39%;
  position: absolute;
}
body .main .Customization .img-ipad-iphone .iphone {
  bottom: 10%;
  left: 13%;
  position: absolute;
}
body .main .Customization .text-customization {
  position: relative;
  bottom: 120px;
}
body .main .Customization .text-customization .list-customization {
  padding: 0px;
  margin: 70px 0px 45px 0px;
}
body .main .Customization .text-customization .list-customization .list__item {
  background-image: url("../img/ico/list-point.png");
  background-repeat: no-repeat;
  background-position: 1px;
  padding-left: 35px;
  margin: 10px 0px;
}
body .main .Customization .text-customization .btn-cstm-section {
  display: inline-block;
  padding: 13px 39px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #66d4f4;
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px rgba(102, 212, 244, 0.6);
          box-shadow: 0px 5px 10px rgba(102, 212, 244, 0.6);
  border-radius: 30px;
}
body .main .other-service {
  max-width: 1110px;
}
body .main .other-service .div-other-service {
  margin-top: 7%;
}
body .main .other-service .div-other-service .list-other-service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20px auto 20px auto;
  grid-template-columns: repeat(3, auto);
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
}
body .main .other-service .div-other-service .list-other-service > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
body .main .other-service .div-other-service .list-other-service > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
body .main .other-service .div-other-service .list-other-service > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
body .main .other-service .div-other-service .list-other-service > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
body .main .other-service .div-other-service .list-other-service > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
body .main .other-service .div-other-service .list-other-service > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
body .main .other-service .div-other-service .list-other-service .list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
  grid-template-columns: 40px auto;
  color: #494949;
}
body .main .other-service .div-other-service .list-other-service .list__item img {
  width: 35px;
  height: 35px;
}
body .main .other-service .div-other-service .list-other-service .list__item div {
  margin-left: 10px;
}
body .main .other-service .div-other-service .list-other-service .list__item .name-service {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 5px 0px 0px 0px;
}
body .main .other-service .div-other-service .list-other-service .list__item .desc-item {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.85;
}