body {
  font-family: "Raleway", sans-serif;
}

.g-first-title {
  font-family: roboto-slab, serif;
}

.g-first-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
}
.g-first-title .upper-text {
  font-size: 15px;
  opacity: 0.7;
  text-transform: capitalize;
}
.g-first-title .name-title {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5px 0px 10px 0px;
}
.g-first-title .underline-title {
  width: 30px;
  height: 2px;
  background-color: #2eb0ec;
}

.g-second-title {
  font-weight: 600;
}
.g-second-title .uptext {
  font-size: 18px;
  opacity: 0.4;
}
.g-second-title .name-heading {
  font-size: 32px;
  text-transform: capitalize;
}
.g-second-title .subtext {
  font-weight: 500;
  font-size: 19px;
}

.g-line-footer {
  width: 1170px;
  height: 2px;
  background-color: #dfdfdf;
}

.g-button-blue {
  background-color: #66d4f4;
  color: #fff;
  text-transform: uppercase;
}

@font-face {
  font-family: "Museo";
  font-style: normal;
  src: url(../font/Museo_Slab_500.otf);
}
@media (max-width: 752px) {
  body header {
    background-image: url("../img/bg-header-mobile.png");
    background-size: cover;
  }
}
@media (max-width: 1169px) {
  body header {
    background-image: url("../img/bg-header-mobile.png");
    background-size: cover;
  }
}
body {
  color: #494949;
}
body header {
  background-image: url("../img/bg-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #42a8f6;
}
body header .container {
  max-width: 1134px;
}
body header .container .nav-head .container-fluid .nav-list {
  text-transform: uppercase;
}
body header .container .underline-header {
  height: 2px;
  background-color: #fff;
  opacity: 0.6;
}