@import 'gstyle.scss';

@font-face {
    font-family: "Museo";
    font-style: normal;
    src: url(../font/Museo_Slab_500.otf);
}

//--------------------------------Media---запросы

@media (max-width: 752px){
    body{
        header{
            background-image: url('../img/bg-header-mobile.png');
            background-size: cover;
        }
    }
}

@media (max-width: 1169px){
    body{
        header{
            background-image: url('../img/bg-header-mobile.png');
            background-size: cover;
        }
    }
}

//--------------------------------Media---запросы

body{
    

    header{
        background-image: url('../img/bg-header.png');
        background-size: cover;
        background-repeat: no-repeat;

        .container{
            max-width: 1134px;

            .nav-head{
                .container-fluid{
                    .nav-list{
                        .navbar-nav{
                            .nav-item{
                                .nav-link{
                                    text-transform: uppercase;
                                    font-weight: 600;
                                    font-size: 17px;
                                    color: $WhiteColor;
                                }
                            }
                        }
                    }
                }
            }
    
            .underline-header{
                height: 2px;
                background-color: $WhiteColor;
                opacity: 0.6;
            }

        }
    }
}