@import 'gstyle.scss';

@font-face {
    font-family: "Museo";
    font-style: normal;
    src: url(../font/Museo_Slab_500.otf);
}

//--------------------------------Media---запросы

@media (max-width: 752px){
    body{
        header{
            background-image: url('../img/bg-header-mobile.png');
            background-size: cover;
        }
    }
}

@media (max-width: 1169px){
    body{
        header{
            background-image: url('../img/bg-header-mobile.png');
            background-size: cover;
        }
    }
}

//--------------------------------Media---запросы

body{

    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }

    header{
        background-image: url('../img/bg-header.png');
        background-size: cover;
        background-repeat: no-repeat;

        .container{
            max-width: 1134px;
            position: relative;

            .nav-head{
                .container-fluid{
                    .nav-list{
                        .navbar-nav{
                            align-items: center;
                            font-weight: 600;

                            .nav-item{
                                margin: 0px 12px;
                                .nav-link{
                                    text-transform: uppercase;
                                    font-size: 17px;
                                    color: $WhiteColor;
                                }
                            }

                            .login{
                                display: inline-block;
                                padding: 15px 38px;
                                border-radius: 10px;
                                background-color: $bg-btn-header;
                                text-transform: uppercase;
                                color: $WhiteColor;

                            }
                        }
                    }
                }
            }
    
            .underline-header{
                height: 2px;
                background-color: $WhiteColor;
                opacity: 0.6;
            }

            .row{
                .contain-header{
                    position: relative;
                    overflow: hidden;
                    color: $WhiteColor;

                    .info-link-header{
                        margin: 22% 0% 7% 0%;
                        
                        h1{
                            font-size: 40px;
                            font-weight: 500;
                            font-family: 'Museo';
                            text-transform: uppercase;
                            word-spacing: 10px;
                        }

                        p{
                            font-weight: 400;
                            font-size: 28px;

                            margin: 10px 0px 70px 0px;
                        }

                        .group-btn{
                            .btn-header{
                                display: inline-block;
                                width: 240px;
                                height: 80px;
                                border-radius: 15px;

                                font-weight: 600;
                                font-size: 20px;
                                text-align: center;

                                padding-top: 24px;
                            }

                            .google-btn{
                                background-color: $WhiteColor;
                                color: $TextColor;
                                background-image: url('../img/ico/google-play.png');
                                background-repeat: no-repeat;
                                background-position: 25px;
                                padding-left: 15px;
                                margin-right: 25px;

                                box-shadow: 0px 5px 15px rgba(#000, 0.1);
                            }

                            .learn-btn{
                                color: $WhiteColor;
                                background-color: $bg-btn-header;
                            }
                        }
                    }
                    .image-telephone-header{
                        img{
                            position: absolute;
                            top: 105px;
                            right: 1px;
                        }
                    }
                }
            }

        }
    }

    .main{
        .our-service{
            margin-top: 40px;

            .list-our-service{
                display: flex;
                justify-content: space-around;
                text-align: center;
                align-items: center;

                margin: 80px 0px 0px 0px;
                padding: 0px;

                .list__item{
                    color: $TextColor;

                    img{
                        max-width: 84px;
                        max-height: 84px;
                    }

                    .name-service{
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: capitalize;

                        margin-top: 35px;
                    }

                    .descrp-service{
                        font-size: 16px;
                        opacity: 0.7;
                    }
                }
            }
        }

        .Customization{
            margin-top: 25%;
            display: flex;
            position: relative;

            .img-ipad-iphone{
                .ipad{
                    right: 76%;
                    top: -39%;
                    position: absolute;
                }

                .iphone{
                    bottom: 10%;
                    left: 13%; 
                    position: absolute;
                }
            }

            .text-customization{
                position: relative;
                bottom: 120px;

                .list-customization{
                    padding: 0px;
                    margin: 70px 0px 45px 0px;

                    .list__item{
                        background-image: url('../img/ico/list-point.png');
                        background-repeat: no-repeat;
                        background-position: 1px;
                        padding-left: 35px;
                        margin: 10px 0px;
                    }
                }

                .btn-cstm-section{
                    display: inline-block;
                    padding: 13px 39px;

                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;

                    background-color: $MainColor;
                    color: $WhiteColor;
                    box-shadow: 0px 5px 10px rgba($MainColor, 0.6);
                    

                    border-radius: 30px;
                }
            }
        }
    }
}